.siderBar__container {
    position: sticky;
    left: 0;
    top: 60%;
    z-index: 15;
    margin-right: 0;
    display: flex;
    color: var(--color-text);
    width: 350px;
    transform: translateX(-350px);
    transition: transform 0.5s ease-in-out;
    padding: 20px;
    background-color: rgb(148, 210, 245);
}

.siderBar__container:hover {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}


.siderBar__info ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-right: 22px;
}

.siderBar__info ul a {
    text-decoration: none;
    color: var(--color-text);
    display: flex;
    align-items: center;
}

.siderBar__container img {
    width: 50px;
}

.siderBar__container .sideImage {
    width: 200px;
    transform: rotateY(180deg) translateX(55px);
}