@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

body {
  margin: 0;
  font-family: "Alfa Slab One", sans-serif;
}

* {
  box-sizing: border-box;
  user-select: none;
  color: var(--color-text);
}

:root {
  --color-text: rgb(84, 79, 79);
  --color-bg: #EEE1D1;
  --color-nav: #e9d1b3d7;
  --img-cursor: url("./assets/cursor_normal.png"), auto;
  --img-cursor-click: url("./assets/cursor-click.png"), auto;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: var(--color-bg);
  cursor: var(--img-cursor);
}

button {
  cursor: var(--img-cursor-click);
}